{% extends 'main/base.html' %}
{% load static %}
{% block title %}Covid-Help Contact-Us{% endblock %}
{% load custom_tags %}



{% block content %}
<style type="text/css">
    mark{
        background-color: yellow;
    }
</style>

<div class="container-fluid">
    <div class="container-fluid">
    <div class="card m-5">
        <div class="card-header">
            Your information is safe with us.We will share your data with <b>Helth department authorities</b> only ! :)
        </div>
        <div class="card-body">
            <h5 class="card-title">Contact us for any query.</h5>
            <div class="row">
                <div class="col col-md-6 pt-3">
                    <form method="post" action="">
                        {% csrf_token %}

                        {{ form.as_p}}  

                        <input type="submit" value="Register" class="btn btn-primary mb-4">
                    </form>
                </div>

                <div class="col col-md-6">
                    <h4>If you are messaging for plasma</h4>
                    <p><mark>Do not forget to mention blood group in message box and click emergency.<mark></p>
                    <hr>
                    <h4>If you are messaging for Ambulance Registration</h4>
                    <p>Write organization and mention whether service is free or paid.</p>
                    <hr>
                    <h4>If you are messaging for Volunteer Registration</h4>
                    <p>We will call you on given number.</p>
                    
                </div>
            </div>
        </div>
        <a href="{% url 'index' %}" class="btn btn-primary "><i class="fas fa-arrow-circle-left"></i></a>
    </div>
</div>
</div>
{% endblock content %}
